body{
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 5vw;
  font-family: 'roboto';
}
.link-num{
  text-decoration: none;
  color: red;
}
.link-num:hover{
  color: white;
}
.cabecalho{
  background: white;
  position: relative;
  width: 100vw;
  height: 95vw;
}
.img-premio{
  width: 96vw;
  height: vw;
  position: relative;
  border-radius: 1vw;
  order: solid 2vw deepskyblue;
  margin: 1.5vw auto;
  left: 2vw;
  object-fit: cover;
  object-position: cente;
  background: whitesmoke;
  box-shadow: .5vw .5vw 1vw rgba(0,0,0,.5);
}
@keyframes h2pulse{
  25%{
    transform: scale(1.1);
  }
  50%{
    
  }
  75%{
    
  }
  100%{
    
  }
}
h1{
  background: red;
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 10vw;
  padding: 2vw;
  letter-spacing: 2vw;
  color: white;
}
h2{
  background: red;
  position: relative;
  margin: 2vw auto;
  text-align: center;
  font-size: 6vw;
  padding: 4vw 1vw 4vw 1vw;
  letter-spacing: 1vw;
  color: white;
  font-weight: 900;
  font-family: courier;
  border-radius: 1vw;
  width: 86vw;
  height: 19vw;
  top: -1vw;
  animation-name: h2pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
h3{
  text-align: center;
  font-family: 'roboto';
  font-weight: 500;
  background: white;
  position: relative;
  padding: 2vw 0 2vw 0;
  color: red;
  top: 4vw;
}
main{
  background: ;
  position: relative;
  width: 100vw;
  height: 230vw;
  position: sticky;
  top: 0;
}
.quadro{
  background: red;
  position: relative;
  width: 100vw;
  height: ;
  
}
.bloco{
  background: white;
  position: relative;
  width: 19vw;
  height: 41vw;
  float: left;
  border: solid .5vw whitesmoke;
  transition: .5s;
}
.left:hover{
  left: 1vw;
}
.right:hover{
  right: 1vw;
}
.bloco:hover{
  transform: scale(1.1);
  border: solid .5vw red;
  transition: .5s;
  z-index: 9;
}
.bloco:hover .img-bicho{
  transform: scale(1.2);
  margin-top: 1.4vw;
  transition: .5s;
  z-index: 9;
}
.img-bicho{
  background: whitesmoke;
  width: 16vw;
  height: 16vw;
  position: relative;
  display: block;
  margin: 2vw auto;
  display: non;
  order-radius: 100vw;
  object-fit: cover;
}
.num,.link-num{
  background: ;
  position: relative;
  width: 9vw;
  height: 10vw;
  float: left;
  margin: .2vw;
  z-index: 9;
  text-align: center;
  line-height: 10vw;
  font-family: courier;
  font-weight: 900;
  color: red;
  display: block;
}
.link-num:hover{
  background: red;
  color: white;
  transition: .5s;
}
.rodape{
  background: red;
  position: relative;
  width: 100vw;
  height: 20vw;
}
#num1,#num2,#num3, #num4,#num41,#num42,#num43,#num44,#num45,#num46,#num47,#num48,#num57,#num58,#num59,#num60,#num13,#num33,#num52, #num77,#num78,#num85,#num86,#num25,#num73,#num74,#num75,#num76{
  background: red;
  color: white;
}
